.container{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    padding: 25px;
    height: 100%;
}
.prev-next{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}
.prev-container{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
